*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #52c234, #061700);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid rgba(10, 20, 7, 0.945);
    outline: none;
    background-color: rgba(10, 20, 7, 0.842);
    color: rgb(95, 146, 95);
}

.calculator-grid>button:hover {
    background-color: rgba(26, 53, 18, 0.9);
    color: rgb(159, 192, 159);
    transition: all 0.6s;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(8, 8, 8, 0.5);
    border: 6px solid rgba(10, 20, 7, 0.945);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(13, 19, 11, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgb(41, 202, 41);
    font-size: 2.5rem;
}